*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Sudhanshu';
    src: url(./assets/gazpacho-black.otf);
}

@font-face {
    font-family:'TT-norms-bold';
    src: url(./assets/TT\ Norms\ Pro\ Bold.otf);
}

@font-face {
    font-family: 'TT-norms-reg';
    src: url(./assets/TT\ Norms\ Pro\ Regular.otf);
}
html {
    font-family:'TT-norms-reg';
}

ul {
    font-family: 'TT-norms-bold';
    list-style: none;
}

a {
    display:inline-block;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Sudhanshu';
    color:#3f000b;
}

p {
    color:#333333;
}

/*----------NAVBAR----------*/
.navbar {
    display:flex;
    padding-left:6rem;
    padding-top :.5rem;
    align-items: end;
    justify-content: space-between;
    width:100%;
    padding-bottom: .8rem;
    background-color: #fff;
    box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.2);
    position: fixed;
    top:0;
    z-index: 999;
}

.hamburger {
    display:none;
    font-size: 36px;
    color: #3f000b;
    padding:1.5rem;
}

.logo img{
    height:70px;
    margin-bottom: -4px;
}

.nav-wrap {
    display: flex;
    flex-direction: column;
    width:80%;
}

.menu {
    display: flex;
    align-items: center;
}

.utility-nav {
    align-self: flex-end;
    padding-right:4rem;
    margin-right: 5%;
}

.utility-nav ul li {
    padding: 1rem;
}
.utility-nav ul li a {
    color: #707070;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}

.utility-nav ul li a:hover {
    text-decoration: underline;
}

.main-nav {
    background-color:#3f000b;
}

.main-nav ul li {
    margin: 0 0.2rem;
    position:relative; 
}
.main-nav ul li a {
    color: #feebd0;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
}

.search{
    font-size:20px;
    font-weight: 600;
}

.main-nav>ul>li>a:hover {
    background-color: #553b33;
}

.search-2 {
    font-size: 40px;
    padding:1.5rem;
    color:#3f000b;
    display:none;
}

/* DROPDOWN-menu */
.main-nav ul li ul.dropdown {
    width:310px;
    margin-left:-3px;
    position:absolute;
    z-index:999;
    background-color:#3f000b;
    display:none;
}

.main-nav ul li ul.dropdown li:hover{
    background-color:#652f33;
}

.main-nav ul li:hover ul.dropdown {
    display:block;
}

/*----------MAIN----------*/
main {
    margin-top:7.8rem;
    width:100%;
    height:100vh;
}

/*----------HERO----------*/
.hero{
    display:flex;
    width:100%;
    height:55%;
    min-height: 395px;
}
.hero .container-1 {
    width:50%;
    height:100%;
    background-color: #feebd0;
}
.hero .container-1 .content {
    padding:5rem;
    text-align: left;
}

.hero .container-1 .content h1 {
    font-size: 3rem;
    color:#3f000b;
    font-weight: 800;
}

.hero .container-1 .content p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.button {
    padding:1.2rem;
    background-color:#3f000b;
    text-decoration: none;
    color: #feebd0;
    font-size: 17px;
    font-weight: 600;
    border-radius: 50px;
    margin-top:2rem;
}

.button:hover{
    background-color: #9f8085;
}

.hero .container-2{
    width:50%;
    height:100%;
}

.hero .container-2 img {
    width:100%;
    height:100%;
    object-fit: cover;
}

/*----------POSTER & CARD----------*/
.poster {
    width:100%;
    overflow:hidden;
}

.card {
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items:center;
    justify-content: center;
    width:23rem;
    height:26rem;
    padding: 2rem 1rem;
    background-color: #fff;
    box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.card h2 {
    font-size: 28px;
}

.card p {
    font-size: 17px;
    line-height: 1.5;
    margin:25px 0;
}

.card .button {
    margin:0;
    width:80%;
}

/* .card .button:hover ~ .poster img {
    transform: scale(1.2);
} */

/*----------CARD-RIGHT----------*/
.card-right{
    display:flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding:5rem;
    position:relative;
}

.card-right .poster {
    position:relative;
    width:70%;
    overflow:hidden;
}

 .card-right .poster img {
    width:100%;
    object-fit: cover;
    transition:transform 300ms;
}
/* .card-right .poster img:hover {
    transform: scale(1.2);
} */
.card-right i {
    position:absolute;
    font-size: 50px;
    top:50%;
    left:50%;
    color:#fff;
    z-index:3;
}

.card-right i:hover {
    cursor:pointer;
    text-shadow: 0 0 20px #000000d5;
}

.card-right .card {
    position:absolute;
    right:10%;
    top:18%;
}

/*----------CARD-LEFT---------*/
.card-left{
    display:flex;
    justify-content: end;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding:4rem;
    position:relative;
}

.card-left .poster {
    position:relative;
    width:70%;
    overflow:hidden;
}

.card-left .poster img {
    width:100%;
    object-fit: cover;
    transition: transform 300ms;
}

.card-left i {
    position:absolute;
    font-size: 50px;
    top:50%;
    left:50%;
    color:#fff;
    z-index:3;
}

.card-left i:hover {
    cursor:pointer;
    text-shadow: 0 0 20px #000000d5;
}

.card-left .card {
    position:absolute;
    left:10%;
    top:18%;
}

/*-----------ONE----------*/
#one {
    background-image: url(assets/Bg-one.jpeg);
}

/*----------THREE----------*/
#three {
    background-image: url(assets/Bg-three.svg);
    background-color: #efeaea;
}

/*----------FOUR------------*/
#four {
    background-color: #feebd0;
}

/*----------FIVE------------*/
#five {
    background-image: url(assets/Bg-five.svg);
    background-color: #08a9a0;
}

/*----------SIX------------*/
#six {
    background-image: url(assets/Bg-six.svg);
    background-color: #feebd0;
}

#six.card-left .poster img{
    height:95%;
    overflow:hidden;
}


/*----------UPDATES----------*/
.updates {
    padding:5rem 8rem;
    background: linear-gradient(rgba(0, 0, 0, 0.062),rgba(0, 0, 0, 0.062)),url(assets/Bg-updates.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.updates .updates_con{
    display: flex;
    justify-content: space-around; 
    /* overflow-x:scroll; */
}

.updates .updates_con .cards{
    width: 30%;
    background-color: #fff;
    margin: 1rem;
    overflow: hidden;
    box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.2);
}

.cards img{
    width: 100%;
    height:35%;
    object-fit: cover;
}

.updates .updates_con .cards .card_con{
    padding:  1.5rem ;

}
.updates .updates_con .cards .card_con h3{
    font-size: 1.5rem;
    text-decoration: underline;
    margin-bottom: 1rem;
    line-height: 1.4; 
    font-weight: 800; 
}

.updates .updates_con .cards .card_con p{
    color: #3f000b;
    font-size: 1rem;
    line-height: 24px;   
}

.updates .updates_con .cards .card_con a {
    text-decoration: underline;
    color: #3f000b;
}

/*----------LINKS----------*/
.links{
    width:100%;
    padding:5rem;
}

.links .container {
    width:100%;
    display:flex;
    justify-content: space-around;
}

.links .container .box {
    width:30%;
    overflow: hidden;
    cursor:pointer;
}

.links .container .box .image {
    width:100%;
    overflow: hidden;
}

.links .container .box .image img {
    width:100%;
    height:100%;
    object-fit: cover;
    transition: transform 300ms;
}

.links .container .box a {
    margin-top:1rem;
    color:#007bbd;
}

.box:hover img {
    transform:scale(1.2);
}

.box:hover a {
    text-decoration:none;
}

/*----------FOOTER----------*/
footer {
    width:100%;
    padding:5%;
}

footer .top {
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-around;
}

.top .topleft {
    width:65%;
    display:flex;
    justify-content: space-around;
}

.top .topleft .tl {
    width:30%;
}

.tl .logo {
    width:100%;
}

.tl .socials a {
    text-decoration: none;
    color:#3f000b;
}

.socials a i {
    font-size: 20px;
    padding:10px;
    margin:5px 0;
}

.toggle {
    padding:10px 0;
}

.toggle p {
    color:#707070;
}

.toggle i {
    font-size:20px;
    color:#3f000b;
}

.tl ul.tl-one {
    margin-left:4rem;
}

.tl ul li {
    padding:5px;
    line-height: 1.5;
}
.tl ul a {
    color:#3f000b;
    font-weight: bold;
    text-decoration: none;
}

.tl ul a:hover {
    text-decoration: underline;
}

.top .topright {
    width:30%;
    padding:1rem;
}

.topright .tr {
    border-left:3px solid #3f000b;
}

.tr ul li {
    margin-left:10px;
    font-size: 13px;
    padding:5px;
    line-height: 1.5;
}

.tr ul a {
    color: #707070;
    font-weight: bold;
    text-decoration: none;
}

.tr ul a:hover {
    text-decoration: underline;
}

footer .bottom {
    width:100%;
    display:flex;
    align-items:center;
}

.bottom .bottomleft {
    width:65%;
}

.bottomleft a {
    margin:1%;
    padding-left: 2rem;
    text-decoration: none;
    color:#707070;
    font-size: 13px;
    font-weight: bold;
}

.bottomleft a:hover {
    text-decoration: underline;
}

.bottomright {
    width:30%;
    padding:1rem;
}

.bottomright p {
    color:#707070;
    font-size: 13px;
    font-weight: bold;
}

.bottomright a {
    text-decoration: none;
    color:#707070;
}

.bottomright a:hover {
    text-decoration: underline;
}

/*----------MEDIA QUERIES----------*/

@media screen and (min-width:1600px) {
    .navbar .utility-nav {
        max-width:1600px;
        margin-left: 50%;
        margin-right: auto;
    }
}

@media screen and (max-width:1338px) {

    .navbar {
        padding-left:2rem;
    }
    .hero .container-1 .content {
        padding:3rem;

    }
    .hero .container-1 .content h1 {
        font-size: 2.5rem;
        margin-bottom:1rem;
    }

    .main-nav ul li a {
        padding:1rem 1rem;
    }
}

@media screen and (max-width:1250px) {
    .card {
        width: 30%;
        height:65%;
    }
    
    .card h2 {
        font-size: 1.5rem;
    }

    .card p {
        margin: 14px;
        line-height: 1.3;
    }

    .card .button {
        font-size: 16px;
        padding:1rem;
    }

    .updates .updates_con .cards .card_con h3 {
        font-size: 1.2rem;
        margin-bottom: .5rem;

    }


    .toggle p {
        font-size: 12px;
    }

    .bottomleft a {
        padding-left: 1rem;
        margin:0;
        font-size: 10px;
    }

    .tl ul.tl-one {
        margin-left:2rem;
    }
    
    .tl ul li {
        line-height: 1.2;
    }

    .tl ul li a {
        font-size: 10px;
    }

    .tr ul li a {
        font-size: 10px;
    }

    .bottomright p {
        font-size: 12px;
        margin-bottom:1rem;
    }


}

@media  screen and (max-width:1100px) {
    
    .navbar { 
        padding-left:1.5rem;
    }

    .main-nav ul li a {
        padding:1rem 1rem;
        font-size: 13px;
    }

    .main-nav ul li {
        margin:0;
    }

    .hero .container-1 .content {
        padding:1rem;

    }
    .hero .container-1 .content h1 {
        font-size: 2.2rem;
        margin-bottom:1.2rem;
    }

    .card {
        width: 30%;
        height:65%;
    }
    
    .card h2 {
        font-size: 1.3rem;
    }

    .card p {
        font-size:15px;
        margin: 10px;
        line-height: 1.3;
    }

    .card .button {
        font-size: 14px;
        padding:.8rem;
    }

    .updates .updates_con .cards .card_con h3 {
        font-size: 1rem;
        margin-bottom: .2rem;
    }

    .updates .updates_con .cards .card_con p {
        font-size: 12px;
        line-height: 1.3;
    }
}

@media screen and (max-width:990px)
{
    .navbar {
        align-items: center;
        padding-bottom:0;
    }
    
    .logo img {
        height:50px;
    }
    .navbar .hamburger {
        display: block;
        padding: 1rem;
        font-size: 24px;
    }

    .navbar .nav-wrap {
        display:none;
    }

    .navbar .search-2 {
        display:block;
        padding:1rem;
        font-size: 24px;
    }

    main {
        margin-top:3.2rem;
    }

    .hero .container-1 .content {
        padding:1rem;

    }
    .hero .container-1 .content h1 {
        font-size: 2rem;
        margin:1.4rem 0;
    }

    .updates {
        padding:3rem;
    }

    .box h3 {
        font-size: 15px;
    }
}

@media screen and (max-width:900px) {
    .button {
        font-size: 15px;
    }

    .card .h2 {
        font-size: 1.1rem;
    }
    .card p {
        font-size:14px;
        margin:0.2rem;
    }
    .card .button {
        font-size: 12px;
        padding:0.4rem;
    }

    .updates .updates_con .cards .card_con {
        padding:.5rem;
    }
}

@media screen and (max-width: 860px) {
 
    footer .top {
      width: 100%;
      display: flex;
      flex-direction: column;
    
    }
    .top .topright {
      width: 100%;
      padding: 1rem 1rem 0;
      text-align: center;
    }
    .topright .tr {
      padding: 1rem;
      border-top: 3px solid #3f000b;
      border-left: none;
    }
    .top .topleft{
      width: 100%;
      padding: 1rem;
      text-align: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .tl ul.tl-one {
      margin-left: 0rem;
    }
  
    .top .topleft .tl{
      width: 100%;
    }
    .toggle {
      padding: 10px 0;
      margin-bottom: 2rem;
    }

    footer .bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer .bottom .bottomleft {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bottomleft a {
        padding-bottom:.7rem;
    }

    .bottomright {
        padding:0;
        width:100%;
        text-align: center;
    }
  }

  @media screen and (max-width:800px) {

    .hero {
        flex-direction:column-reverse;
        height:200vh;
    }

    .hero .container-1 {
        width:100%;
    }

    .hero .container-1 .content {
        text-align: center;
    }

    .hero .container-2{
        width:100%;
        height:100%;
    }

    .hero .container-2 img {
        height:100%;
        object-fit:cover;
    }

    .card-right {
        padding:2rem;
    }

    .card-right .card , .card-left .card {
        top:10%;
    }

    .card-left {
        padding:2rem;
    }

    .card {
        height:80%;
        padding:.5rem;
    }

    .card .h2 {
        font-size: .9rem;
    }
    .card p {
        font-size:12px;
        margin:0.2rem;
    }
    .card .button {
        font-size: 10px;
        padding:0.4rem;
    }

    .updates .updates_con .cards .card_con h3 {
        font-size: .7rem;
    }

    .links {
        padding:2rem;
    }

    .links .container a {
        font-size: 12px;
    }

}

@media screen and (max-width:700px) {

    .hero .container-1 .content h1 {
        font-size: 1.5rem;
    }

    .hero .container-1 .content p {
        font-size: 1.1rem;
    }

    .hero .button {
        font-size: 12px;
        padding:1rem;
    }

    .poster i {
        font-size: 20px;
    }
    .card-right {
        flex-direction: column;
        height:auto;
        padding:5rem;
    }
    
    .card-right .poster {
        width:100%;
    }
    
    .card-right .card {
        width:90%;
        height:50vh;
        top:70%;
        right:5%;
    }

    .card-left {
        flex-direction: column;
        height:auto;
        padding:5rem;
    }
    
    .card-left .poster {
        width:100%;
    }
    
    .card-left .card {
        width:90%;
        height:50vh;
        top:70%;
        left:5%;
    }
    .updates {
        padding:4rem;
    }

    .updates .updates_con {
        flex-direction: column;
        width:100%;
        justify-content: center;
        align-items: center;
    }

    .updates .updates_con .cards {
        width:100%;
    }

    .links {
        padding-top:5rem;
    }

    .links .container {
        flex-wrap: wrap;
    }
    
    .links .container .box {
        width:40%;
        text-align: center;
    }

    footer {
        padding-top:4rem;
    }
}

@media screen and (max-width:550px) {

    .card {
        height:35vh;
    }

    #one , #two , #six {
        padding-top:2rem;
    }

    .updates , #three , #five {
        padding-top: 6rem;
    }
}

@media screen and (max-width:450px) {

    .hero .container-1 .content h1 {
        font-size: 1.1rem;
    }

    #one , #two , #six {
        padding:2rem;
    }

    #four {
        padding:2rem;
    }
    .updates , #three , #five {
        padding: 7.5rem 2rem 2rem 2rem;
    }
}

@media screen and (max-width:400px)
{
    .hero {
        height:150vh;
    }
    .hero .container-2 {
        height:55vh;
    }
}

@media screen and (max-width:375px) {
    #three {
        padding-top:8rem;
    } 

    #four {
        padding-top:6rem;
    }

    .links {
        padding-top:6rem;
    }
    .links .container .box {
        width:70%;
    }

    footer {
        padding-top:6rem;
    }
}