* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'heading';
  src: url(./assets/gazpacho-black.otf);
}

@font-face {
  font-family:'TT-norms-bold';
  src: url(./assets/TT\ Norms\ Pro\ Bold.otf);
}

@font-face {
  font-family: 'TT-norms-reg';
  src: url(./assets/TT\ Norms\ Pro\ Regular.otf);
}
html{
  font-family: 'TT-norms-reg';
}
h1,h2,h3{
  font-family: 'heading';
}

ul {
  list-style: none;
  font-family:'TT-norms-bold';

}

a {
  display: inline-block;
}

#about {
  height: 100vh;
  width: 100%;
}
.navbar {
  display: flex;
  padding-left: 6rem;
  padding-top: 0.5rem;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 0.8rem;
  background-color: #fff;
  box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 999;
}

.hamburger {
  display: none;
  font-size: 36px;
  color: #3f000b;
  padding: 1.5rem;
}

.logo img {
  height: 70px;
  margin-bottom: -4px;
}

.nav-wrap {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.menu {
  display: flex;
  align-items: center;
}

.utility-nav {
  align-self: flex-end;
  padding-right: 4rem;
  margin-right: 5%;
}

.utility-nav ul li {
  padding: 1rem;
}
.utility-nav ul li a {
  color: #707070;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

.utility-nav ul li a:hover {
  text-decoration: underline;
}

.main-nav {
  background-color: #3f000b;
}

.main-nav ul li {
  margin: 0 0.2rem;
  position: relative;
}
.main-nav ul li a {
  color: #feebd0;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
}

.search {
  font-size: 20px;
  font-weight: 600;
}

.main-nav > ul > li > a:hover {
  background-color: #553b33;
}

.search-2 {
  font-size: 40px;
  padding: 1.5rem;
  color: #3f000b;
  display: none;
}

/* DROPDOWN-menu */
.main-nav ul li ul.dropdown {
  width: 310px;
  margin-left: -3px;
  position: absolute;
  z-index: 999;
  background-color: #3f000b;
  display: none;
}

.main-nav ul li ul.dropdown li:hover {
  background-color: #652f33;
}

.main-nav ul li:hover ul.dropdown {
  display: block;
}

@media screen and (min-width:1600px) {
    .navbar .utility-nav {
        max-width:1600px;
        margin-left: 50%;
        margin-right: auto;
    }
}
@media screen and (max-width:1338px) {

    .navbar {
        padding-left:2rem;
    }
    .main-nav ul li a {
        padding:1rem 1rem;
    }
}
@media  screen and (max-width:1100px) {
    
    .navbar {
        padding-left:1.5rem;
    }

    .main-nav ul li a {
        padding:1rem 1rem;
        font-size: 13px;
    }

    .main-nav ul li {
        margin:0;
    }
}

/* about hero section */

#about .about_hero {
  width: 100%;
  height: 70vh;
  min-height: 490px;
  position: relative;
  margin-top: 7.8rem;
}

#about .about_hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about_hero_con {
  width: 480px;
  background-color: #3f000b;
  border-radius: 5px;
  padding: 2rem;
  position: absolute;
  top: 20%;
  left: 5%;
}

.about_hero_con h1 {
  font-size: 3rem;
  line-height: 57.8px;
  color: #feebd0;
  font-weight: 1000;
}

.about_hero_con p {
  color: #feebd0;
  margin-top: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

/* about_company section  */
.about_company {
  background-image: url(./assets/asset\ 14.svg);
  object-fit: fill;
  padding: 3rem 7rem;
  background-color: #08a9a0;
}

.about_company .Company_heading {
  text-align: center;
  font-size: 1.7rem;
  color: #feebd0;
  margin-top: 1.5rem;
}

.about_company .Company_card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.Company_card .card {
  width: 100%;
  display: flex;
  position: relative;
}

.Company_card .card img {
  width: 100%;
  padding: 1rem;
  margin: 1.5rem;
  object-fit: cover;
}

.Company_card .card .card_con {
  width: 75%;
  background-color: #fff;
  position: absolute;
  bottom: 55px;
  left: 50px;
  padding: 1rem;
}

.Company_card .card .card_con p {
  line-height: 1.3;
  text-align: start;
  font-size: 1.2rem;
  color: #333333;
}
.Company_card .card .card_con h3 {
  color: #333333;
  font-weight: bold;
  text-decoration: underline;
}

/* about history section  */

.about_history {
  background-color: #e2d6c5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about_history .history_card {
  width: 580px;
  height: 200px;
  background-color: #efeaea;
  display: flex;
  margin: 3rem 1rem;
  overflow: hidden;
}

.about_history .history_card img {
  width: 50%;
  object-fit: cover;
  transition: all 0.4s ease;
}
.about_history .history_card img:hover {
  scale: 1.1;
}

.about_history .history_card .history_text {
  color: #3f000b;
  padding: 1rem;
  margin: 0 2rem;
}
.about_history .history_card .history_text p {
  font-size: 1rem;
}

.about_history .history_card .history_text h2 {
  margin-top: 1rem;
  font-size: 1.75rem;
  text-decoration: underline;
  font-weight: 700;
  color: #3f000b;
}

/* about Promise section  */

.about_promise {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 5rem;
  background-image: url(./assets/asset\ 15.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.about_promise .promise_card {
  width: 30%;
  z-index: 1;
  position: relative;
}
.about_promise .promise_card .p_card {
  width: 380px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2rem 1rem;
  top: 7%;
  left: 20%;
  position: absolute;
  background-color: #fff;
}

.about_promise .promise_card h2 {
  font-size: 2.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #333333;
  line-height: 1.3;
}

.about_promise .promise_card p {
  font-size: 1.08rem;
  color: #333333;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.about_promise .promise_card .btn {
  width: 80%;
  padding: 1rem;
  border-radius: 30px;
  background-color: #3f000b;
  color: #feebd0;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.4s ease;
}
.about_promise .promise_card button:hover {
  background-color: #9f8050;
}

.about_promise .promise_img img {
  width: 100%;
}
.about_promise .promise_img {
  margin-right: 5rem;
  position: relative;
}

.play_icon {
  position: absolute;
  top: 50%;
  right: 50%;
}

.promise_img i {
  color: #fff;
  font-size: 3rem;
}
.promise_img i:hover {
  cursor: pointer;
  text-shadow: 0 0 20px #000000d5;
}

/* about leadership section  */

.about_leadership {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #feebd0;
  padding: 4rem;
}

.about_leadership .leadership_card {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  margin: 1rem;
  background-color: #08a9a0;
  color: #feebd0;
}

.about_leadership .leadership_card h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 2rem;
}

.about_leadership .leadership_card p {
  font-size: 1.2rem;
  padding: 0 3rem;
  line-height: 2;
  margin-bottom: 1.5rem;
}

.about_leadership .leadership_card .btn {
  width: 60%;
  padding: 1rem;
  border-radius: 30px;
  background-color: #3f000b;
  color: #feebd0;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.4s ease;
}
.about_leadership .leadership_card .btn:hover {
  background-color: #9f8050;
}

/* about article section  */
.about_articles {
  padding: 5rem 5rem 2rem 5rem;
  background-color: #91268e;
  background-image: url(./assets/asset\ 16.svg);
  background-repeat: no-repeat;
}

.about_articles h2 {
  color: #feebd0;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.about_articles .articles_con {
  padding: 0.5rem 6rem;
  display: flex;
  justify-content: space-around;
}

.about_articles .articles_con .cards {
  width: 50%;
  background-color: #fff;
  margin: 1rem;
  overflow: hidden;
}

.cards img {
  width: 150%;
  overflow: hidden;
  object-fit: cover;
}

.about_articles .articles_con .cards .card_con {
  padding: 3rem 1.5rem;
}
.about_articles .articles_con .cards .card_con h3 {
  font-size: 1.5rem;
  color: #3f000b;
  text-decoration: underline;
  margin-bottom: 1rem;
  line-height: 1.4;
  font-weight: 800;
}

.about_articles .articles_con .cards .card_con p {
  color: #3f000b;
  font-size: 1rem;
  line-height: 24px;
}

footer {
  width: 100%;
  padding: 5%;
}

footer .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.top .topleft {
  width: 65%;
  display: flex;
  justify-content: space-around;
}

.top .topleft .tl {
  width: 30%;
}

.tl .logo {
  width: 100%;
}

.tl .socials a {
  text-decoration: none;
  color: #3f000b;
}

.socials a i {
  font-size: 20px;
  padding: 10px;
  margin: 5px 0;
}

.toggle {
  padding: 10px 0;
}

.toggle i {
  font-size: 20px;
}

.tl ul.tl-one {
  margin-left: 4rem;
}

.tl ul li {
  padding: 5px;
  line-height: 1.5;
}
.tl ul a {
  color: #3f000b;
  font-weight: bold;
  text-decoration: none;
}

.tl ul a:hover {
  text-decoration: underline;
}

.top .topright {
  width: 30%;
  padding: 1rem;
}

.topright .tr {
  border-left: 3px solid #3f000b;
}

.tr ul li {
  margin-left: 10px;
  font-size: 13px;
  padding: 5px;
  line-height: 1.5;
}

.tr ul a {
  color: #707070;
  font-weight: bold;
  text-decoration: none;
}

.tr ul a:hover {
  text-decoration: underline;
}

footer .bottom {
  width: 100%;
  display: flex;
  align-items: center;
}

.bottom .bottomleft {
  width: 65%;
}

.bottomleft a {
  margin: 1%;
  padding-left: 2rem;
  text-decoration: none;
  color: #707070;
  font-size: 13px;
  font-weight: bold;
}

.bottomleft a:hover {
  text-decoration: underline;
}

.bottomright {
  width: 30%;
  padding: 1rem;
}

.bottomright p {
  color: #707070;
  font-size: 13px;
  font-weight: bold;
}

.bottomright a {
  text-decoration: none;
  color: #707070;
}

.bottomright a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1280px) {
  .about_company .Company_heading {
    font-size: 1.7rem;
    margin-top: 1.5rem;
  }
  .about_promise {
    padding: 2rem;
  }
  .about_promise .promise_card .p_card {
    width: 400px;
    padding: 1rem;
    top: 5%;
    left: 0%;
  }
}

@media only screen and (max-width: 1220px) {
  .about_history .history_card {
    width: 420px;
    height: 230px;
    margin: 2rem 1rem;
  }
  .about_history .history_card .history_text {
    padding: 0rem;
    margin: 1rem;
  }
  .about_articles .articles_con {
    padding: 0;
  }
}

@media only screen and (max-width: 1090px) {
  .about_hero_con {
    width: 95%;
    top: 55%;
    left: 2%;
  }
  .about_hero_con h1 {
    font-size: 2rem;
    text-align: center;
  }
  .about_hero_con p {
    font-size: 1.2rem;
  }
  .about_company {
    padding: 2rem 4rem;
  }
  .about_leadership {
    padding: 2rem;
  }
  .about_leadership .leadership_card p {
    padding: 0 2rem;
    line-height: 1.5;
  }
  .about_leadership .leadership_card .btn {
    width: 80%;
  }
  .about_articles .articles_con {
    padding: 0;
  }
  .about_articles {
    padding: 1rem;
  }
}

@media screen and (max-width: 940px) {
  .about_promise {
    height: 120vh;
  }

  .about_promise .promise_img {
    margin: 0;
  }
  .about_promise .promise_card .p_card {
    width: 800px;
    top: 50%;
    margin-left: 1rem;
  }
  .about_history .history_card {
    width: 100%;
    margin: 1rem;
  }
  .about_leadership {
    flex-wrap: wrap;
    padding: 1rem;
  }
  .about_leadership .leadership_card {
    width: 80%;
    height: 300px;
    padding: 1rem;
  }
}

@media screen and (max-width: 860px) {
  .about_company .Company_heading {
    font-size: 1rem;
  }
  .about_company .Company_card {
    flex-wrap: wrap;
  }
  .Company_card .card .card_con {
    text-align: center;
    left: 100px;
  }

  .about_promise .promise_card {
    width: 0%;
    height: 130vh;
  }

  .about_promise .promise_card .p_card {
    width: 750px;
    top: 50%;
  }
}

@media screen and (max-width: 800px) {
  .about_promise .promise_card .p_card {
    top: 40%;
    margin-left: 1rem;
  }
  .about_promise {
    margin: 0;
    padding: 0;
  }

  .about_promise {
    height: 100vh;
    background: none;
  }
  .about_articles {
    padding: 1rem;
  }
  .about_articles .articles_con {
    flex-wrap: wrap;
  }
  .about_articles .articles_con .cards {
    width: 100%;
  }
}

@media screen and (max-width: 770px) {
  .about_promise .promise_card .p_card {
    width: 700px;
    top: 40%;
    left: 30px;
    margin-left: 0rem;
  }
  .about_promise .promise_card h2 {
    font-size: 1.5rem;
  }
  .about_promise .promise_card p {
    font-size: 1rem;
  }
  .about_promise .promise_card .btn {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 730px) {
  .about_promise .promise_card .p_card {
    width: 600px;
    top: 40%;
    left: 50px;
  }
}

@media screen and (max-width: 652px) {
  .about_promise .promise_card .p_card {
    width: 550px;
    top: 40%;
    left: 50px;
  }
  .about_leadership {
    padding: 0;
  }
  .about_leadership .leadership_card h2 {
    font-size: 1.5rem;
  }
  .about_leadership .leadership_card p {
    font-size: 1rem;
    padding: 0 1rem;
    line-height: 1.3;
  }
  .about_leadership .leadership_card .btn {
    font-size: 0.9rem;
    width: 90%;
  }
}

@media screen and (max-width: 601px) {
  .about_promise .promise_card .p_card {
    width: 500px;
    top: 35%;
    left: 50px;
  }
  .about_company {
    padding: 1rem 1.5rem;
  }
  .about_hero_con h1 {
    font-size: 1.8rem;
  }
  .about_hero_con p {
    font-size: 1rem;
  }
  .Company_card .card .card_con {
    width: 100%;
    left: 20px;
  }
  .Company_card .card .card_con p {
    font-size: 1rem;
    line-height: 1;
  }
}

@media screen and (max-width: 550px) {
  .about_hero_con h1 {
    font-size: 1.5rem;
  }
  .about_promise .promise_card .p_card {
    width: 400px;
    top: 35%;
    left: 50px;
  }
  .about_company {
    padding-top: 1rem;
  }
}

@media screen and (max-width: 460px) {
  .about_hero_con h1 {
    font-size: 1.4rem;
  }
  .about_hero_con p {
    font-size: 0.9rem;
    line-height: 1.3;
  }
  .about_promise .promise_card .p_card {
    position: relative;
    top: 35%;
    left: 30px;
  }
}
