*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}
/* nav-bar start */
.navbar {
    display:flex;
    padding-left:6rem;
    padding-top :.5rem;
    align-items: end;
    justify-content: space-between;
    width:100%;
    padding-bottom: .8rem;
    background-color: #fff;
    box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.2);
    position: fixed;
    top:0;
    z-index: 999;
}

.hamburger {
    display:none;
    font-size: 36px;
    color: #3f000b;
    padding:1.5rem;
}

.logo img{
    height:70px;
    margin-bottom: -4px;
}

.nav-wrap {
    display: flex;
    flex-direction: column;
    width:80%;
}

.menu {
    display: flex;
    align-items: center;
}

.utility-nav {
    align-self: flex-end;
    padding-right:4rem;
    margin-right: 5%;
}

.utility-nav ul li {
    padding: 1rem;
    list-style-type: none;
}
.utility-nav ul li a {
    color: #707070;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}

.utility-nav ul li a:hover {
    text-decoration: underline;
}

.main-nav {
    background-color:#3f000b;
}

.main-nav ul li {
    margin: 0 0.2rem;
    position:relative;
    list-style-type: none; 
    padding: 1rem 0;
}
.main-nav ul li a {
    color: #feebd0;
    text-decoration: none;
    font-family:"TT norms pro", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
}

.search{
    font-size:20px;
    font-weight: 600;
}

.main-nav>ul>li>a:hover {
    background-color: #553b33;
}

.search-2 {
    font-size: 40px;
    padding:1.5rem;
    color:#3f000b;
    display:none;
}

/* DROPDOWN-menu */
.main-nav ul li ul.dropdown {
    width:310px;
    margin-left:-3px;
    position:absolute;
    z-index:999;
    background-color:#3f000b;
    display:none;
}

.main-nav ul li ul.dropdown li:hover{
    background-color:#652f33;
}

.main-nav ul li:hover ul.dropdown {
    display:block;
}

/* nav-bar end */

#container .route{
    display: flex;
    margin-top: 8.5rem;
    margin-left: 2rem;
}
#container .route a{
    color: #3f000b;
    margin: 0.3rem;
    font-family: montserrat;
    
    font-weight: bolder;
}
#container .route a:hover{
    text-decoration: none;
}
#container .route .allergens{
    color: #3f000b;
    font-weight: medium;
    text-decoration: none;
    font-weight: 400;
}
#container .route p{
    margin: 0.3rem;
    font-family: montserrat;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.4);
}


#container .hero{
    margin-top: 1rem;
    display: flex;
}
#container .hero .card{
    width: 50%;
    background-color: #3f000b;
    color: #feebd0;
    padding: 5.9rem 5rem;
}
@font-face{
    font-family: f1;
    src: url(../Assets/Gazpacho\ Medium.ttf);
}
#container .hero .card h1{
    font-family: f1;
    font-size: -webkit-xxx-large;
    font-weight: bolder;
    margin-bottom: 1rem;
}

#container .hero .card p{
    font-family: montserrat;
    font-size: larger;
    font-weight: 500;
    line-height: 30px;
}
#container .hero .choco{
    width: 50%;
    height: 23rem;
}
#container .hero .choco img{
    width: 100%;
    height: 100%;
}

#container .section-1{
    background-image: url(../Gluten_Free/Assets/kiss_pattern_a-munsell_transparent_reversed.png);
    background-position: left;
    background-size: cover;
    background-color: #efeaea;
    padding: 4rem 25rem 5rem 8rem ;
    color: #333333;
    font-family: montserrat;
}
#container .section-1 p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.6rem;
}
#container .section-1 img{
    width: 100%;
}


/* section-1 start */
#container .section-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e2d6c5;
    height: 30rem;
}
#container .section-2 .left{
    width: 50%;
    padding-left: 8rem;
}
#container .section-2 .left a{
    
    font-family: montserrat;
    border-radius: 100px;
    background-color: #3f000b;
    padding: 1rem 2rem;
    color: #feebd0;;
    text-decoration: none;
    font-size: larger;
    font-weight: 500;
    line-height: 30px;
}
#container .section-2 .left a:hover{
    background-color: rgba(63, 0, 11, 0.4);
    transition: all 900ms;
}
#container .section-2 .left .section-heading{
    color: #3f000b;
    font-family: f1;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
#container .section-2 .right{
    font-family: montserrat;
    display: flex;
    justify-content:space-between;
    width: 50%;
    margin-top: 3.5rem;
    margin-right: 7rem;
    
}
#container .section-2 .right .choco-type .choco{
    width: 10rem;
    height: 10rem;
    margin-right: 2rem;
    overflow: hidden;
}
#container .section-2 .right .choco-type .choco img{
    width: 100%;
    height: 100%;
    transition: all 300ms;
}
#container .section-2 .right .choco-type .about{
    padding-top: 1rem;
}
#container .section-2 .right .choco-type .about p{
    font-weight: 600;
    color: #3f000b;
    margin-right: 1rem;
    line-height: 1.5rem;
    padding: 0.25rem;
}
#container .section-2 .right .choco-type .about p .brand-name{
    letter-spacing: 0.1rem;
    font-size: medium;
    font-weight: bolder;
    color: #3f000b;
}
#container .section-2 .right .choco-type a:hover{
    text-decoration: none;
}
#container .section-2 .right .choco-type a:hover img{
    transform: scale(1.2);
}


#container .section-3{
    background-color: #efeaea;
    padding: 4rem 25rem 5rem 8rem ;
    color: #333333;
    font-family: montserrat;
}
#container .section-3 .section-heading{
    color: #3f000b;
    font-family: f1;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 1rem;
    margin-bottom: 0rem;
}
#container .section-3 p{
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1.6rem;
}
#container .section-3 img{
    width: 105%;
    margin:  2rem -2rem;
}

/*----------FOOTER----------*/
footer {
    width:100%;
    padding:5%;
}

footer .top {
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-around;
}

.top .topleft {
    width:65%;
    display:flex;
    justify-content: space-around;
}

.top .topleft .tl {
    width:30%;
}

.tl .logo {
    width:100%;
}

.tl .socials a {
    text-decoration: none;
    color:#3f000b;
}

.socials a i {
    font-size: 20px;
    padding:10px;
    margin:5px 0;
}

.toggle {
    padding:10px 0;
}

.toggle p {
    color:#707070;
}

.toggle i {
    font-size:20px;
    color:#3f000b;
}

.tl ul.tl-one {
    margin-left:4rem;
}

.tl ul li {
    padding:5px;
    line-height: 1.5;
    list-style-type: none;
}
.tl ul a {
    color:#3f000b;
    font-weight: bold;
    text-decoration: none;
}

.tl ul a:hover {
    text-decoration: underline;
}

.top .topright {
    width:30%;
    padding:1rem;
}

.topright .tr {
    border-left:3px solid #3f000b;
}

.tr ul li {
    margin-left:10px;
    font-size: 13px;
    padding:5px;
    line-height: 1.5;
    list-style-type: none;
}

.tr ul a {
    color: #707070;
    font-weight: bold;
    text-decoration: none;
}

.tr ul a:hover {
    text-decoration: underline;
}

footer .bottom {
    width:100%;
    display:flex;
    align-items:center;
}

.bottom .bottomleft {
    width:65%;
}

.bottomleft a {
    margin:1%;
    padding-left: 2rem;
    text-decoration: none;
    color:#707070;
    font-size: 13px;
    font-weight: bold;
}

.bottomleft a:hover {
    text-decoration: underline;
}

.bottomright {
    width:30%;
    padding:1rem;
}

.bottomright p {
    color:#707070;
    font-size: 13px;
    font-weight: bold;
}

.bottomright a {
    text-decoration: none;
    color:#707070;
}

.bottomright a:hover {
    text-decoration: underline;
}
