* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'heading';
  src: url(./assets/gazpacho-black.otf);
}

@font-face {
  font-family:'TT-norms-bold';
  src: url(./assets/TT\ Norms\ Pro\ Bold.otf);
}

@font-face {
  font-family: 'TT-norms-reg';
  src: url(./assets/TT\ Norms\ Pro\ Regular.otf);
}
html{
  font-family: 'TT-norms-reg';
}
h1,h2,h3,h4,span{
  font-family: 'heading';
}

ul {
  list-style: none;
  font-family:'TT-norms-bold';

}
a {
  display: inline-block;
}

/*----------NAVBAR----------*/
.navbar {
  display: flex;
  padding-left: 6rem;
  padding-top: 0.5rem;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 0.8rem;
  background-color: #fff;
  box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 999;
}

.hamburger {
  display: none;
  font-size: 36px;
  color: #3f000b;
  padding: 1.5rem;
}

.logo img {
  height: 70px;
  margin-bottom: -4px;
}

.nav-wrap {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.menu {
  display: flex;
  align-items: center;
}

.utility-nav {
  align-self: flex-end;
  padding-right: 4rem;
  margin-right: 5%;
}

.utility-nav ul li {
  padding: 1rem;
}
.utility-nav ul li a {
  color: #707070;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

.utility-nav ul li a:hover {
  text-decoration: underline;
}

.main-nav {
  background-color: #3f000b;
}

.main-nav ul li {
  margin: 0 0.2rem;
  position: relative;
}
.main-nav ul li a {
  color: #feebd0;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
}

.search {
  font-size: 20px;
  font-weight: 600;
}

.main-nav > ul > li > a:hover {
  background-color: #553b33;
}

.search-2 {
  font-size: 40px;
  padding: 1.5rem;
  color: #3f000b;
  display: none;
}

/* DROPDOWN-menu */
.main-nav ul li ul.dropdown {
  width: 310px;
  margin-left: -3px;
  position: absolute;
  z-index: 999;
  background-color: #3f000b;
  display: none;
}

.main-nav ul li ul.dropdown li:hover {
  background-color: #652f33;
}

.main-nav ul li:hover ul.dropdown {
  display: block;
}


@media screen and (min-width:1600px) {
  .navbar .utility-nav {
      max-width:1600px;
      margin-left: 50%;
      margin-right: auto;
  }
}
@media screen and (max-width:1338px) {

  .navbar {
      padding-left:2rem;
  }
  .main-nav ul li a {
      padding:1rem 1rem;
  }
}
@media  screen and (max-width:1100px) {
  
  .navbar {
      padding-left:1.5rem;
  }

  .main-nav ul li a {
      padding:1rem 1rem;
      font-size: 13px;
  }

  .main-nav ul li {
      margin:0;
  }
}

@media screen and (max-width:990px)
{
#container {
margin-top: -3.4rem;
}
  .navbar {
      align-items: center;
      padding-bottom:0;
  }
  
  .logo img {
      height:50px;
  }
  .navbar .hamburger {
      display: block;
      padding: 1rem;
      font-size: 24px;
  }

  .navbar .nav-wrap {
      display:none;
  }

  .navbar .search-2 {
      display:block;
      padding:1rem;
      font-size: 24px;
  }
}

/* nav-bar end */
 .route {
  height: 40px;
  display: flex;
  margin-top: 8.5rem;
  margin-left: 2rem;
  
}
 .route a {
  color: #3f000b;
  margin: 0.3rem;
  font-family: montserrat;
  font-weight: bolder;
}
.route a:hover {
  text-decoration: none;
}
.route .allergens {
  color: #3f000b;
  font-weight: medium;
  text-decoration: none;
  font-weight: 400;
}
 .route p {
  margin: 0.3rem;
  font-family: montserrat;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.4);
}

/* @media screen and (max-width: 1300px) {
  .route{
    margin-top: 9rem;
  }
} */
/* Milton_hershey hero section  */

.Milton_hero {
  display: flex;
  width: 100%;
  height: 55vh;
  min-height: 450px;
}

.Milton_hero .milton_left {
  width: 50%;
  background-color: #3f000b;
  color: #feebd0;
}
.Milton_hero .milton_left h1 {
  font-size: 3rem;
  padding: 1rem 5rem;
  margin: 1rem 3rem;
  font-weight: 900;
}
.Milton_hero .milton_left p {
  padding: 0 5rem;
  margin: 0 3rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

.Milton_hero .milton_right {
  width: 50%;
}

.Milton_hero .milton_right img {
  width: 100%;
    height: 55vh;
  min-height: 450px;
  object-fit: cover;
}


@media screen and (max-width: 1200px) {
  .Milton_hero .milton_left h1{
    padding: 1rem ;
    margin: 1rem ;
  }
  
  .Milton_hero .milton_left p {
    padding: 1rem;
    margin: 1rem ;
  }
}
@media screen and (max-width: 900px) {
  .Milton_hero {
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
  }
  .Milton_hero .milton_right {
    width: 100%;
    margin-bottom: -4px;
  }

  .Milton_hero .milton_right img {
    height: 100%;
      object-fit: cover;
  }
  .Milton_hero .milton_left {
    width: 100%;
    text-align: center;
  }
  .Milton_hero .milton_left h1 {
  margin: 0 ;

}
.Milton_hero .milton_left p {
  padding: 0 ;
  margin: 0;
  margin-bottom: 1rem;
}
}
@media screen and (max-width: 642px) {
  .Milton_hero .milton_left h1 {
    font-size: 2.5rem;
  
  }
  .Milton_hero .milton_left p{
    font-size: 1rem;
  }
}

/* milton_history section  */

.milton_history {
  width: 100%;
  padding: 3rem 8rem;
  background-color: #efeaea;
  line-height: 1.3;
  background-image: url(./assets/kiss_pattern_a.png);
}

.history_text {
  display: flex;
  width: 60%;
  text-align: start;
  padding: 1rem;
  margin: 1rem;
}

.milton_history ul li h2 {
  color: #3f000b;
  font-size: 2.5rem;
  font-weight: bolder;
}

.milton_history ul li p {
  color: #333333;
  font-size: 1rem;
  margin: 1rem 0;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 1200px) {
  .history_text {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .history_text {
    width: 100%;
  }

  .milton_history {
    padding: 3rem 3rem;
  }
}


/* timeline section  */

.timeline {
  width: 100%;
}

.timeline .year {
  padding: 0 12rem;
  height: 110px;
  background-color: #3f000b;
  color: #ffff;
  font-size: 3rem;
  display: flex;
  align-items: center;
}

.timeline .event {
  width: 100%;
  padding: 3rem 12rem;
  display: flex;
  justify-content: start;
  background-color: #feebd0;
}

.event_img {
  width: 22rem;
  height: 30rem;
}
.event_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event_con {
  width: 60%;
  padding-left: 4rem;
}

.event_con ul li h3 {
  font-size: 2.5rem;
  color: #3f000b;
  margin-bottom: 1rem;
}

.event_con ul li p {
  width: 100%;
  color: #333333;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

@media screen and (max-width: 990px) {
  .timeline .event{
    flex-wrap: wrap;

  }
  .timeline .event{
    width: 100%;
    padding: 3rem;
  }
  .event_img {
    width: 100%;
    height: 100%;
  }
  .event_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .event_con {
    width: 100%;
    /* padding-left: 4rem; */
  }
}
/* school section  */

.school {
  width: 100%;
  padding: 5rem 8rem;
  background-image: url(./assets/chocolate-variety-light.svg);
}

.school .school_con {
  width: 100%;
  height: 80vh;
  min-height: 500px;
  display: flex;
  align-items: center;
  background-color: #08a9a0;
  box-shadow: rgb(51, 51, 51) 0px 0px 15px 0px;
}

.school .school_con .school_left {
  width: 50%;
  text-align: center;
  padding: 3rem;
  line-height: 1.5;
  color: #feebd0;
}
.school .school_left h2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  font-weight: 900 bold;
}

.school .school_left p {
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.school .btn {
  width: 80%;
  padding: 1rem;
  border-radius: 30px;
  background-color: #3f000b;
  color: #feebd0;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.4s ease;
}
.school button:hover {
  background-color: #9f8050;
}

.school .school_right {
  height: 100%;
  width: 50%;
}

.school .school_right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1230px) {
  .school {
    padding: 5rem 5rem;
  }
}

@media screen and (max-width: 1080px) {
  .school {
    padding: 5rem 2rem;
  }
}
@media screen and (max-width: 1000px) {
 
  .school .school_con {
    flex-direction: column-reverse;
  }
  .school .school_con {
    width: 100%;
    height: 100%;
  }
  .school .school_right {
    height: 100%;
    width: 100%;
  }
  .school .school_con .school_left{
    width: 100%;
  }
}
/* campaigin section  */

.campaign {
  width: 100%;
  padding: 5rem 8rem;
  background-color: #efeaea;
  display: flex;
}

.campaign .campaign_con {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  background-color: #3f000b;
  box-shadow: rgb(51, 51, 51) 0px 0px 15px 0px;
}

.campaign .campaign_con .campaign_right {
  width: 50%;
  text-align: center;
  padding: 3rem;
  line-height: 1.5;
  color: #feebd0;
}
.campaign .campaign_right h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  font-weight: 900 bold;
}

.campaign .campaign_right p {
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.campaign .campaign_left {
  width: 50%;
  height: 100%;
}

.campaign .campaign_left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1230px) {
  .campaign {
    padding: 5rem 5rem;
  }
  .campaign .campaign_right h2 {
    font-size: 2rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 1080px) {
  .campaign .campaign_right h2 {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .campaign {
    padding: 5rem 2rem;
  }
}
@media screen and (max-width: 1000px) {
 
  .campaign .campaign_con {
    flex-direction: column;
  }
  .campaign .campaign_con {
    width: 100%;
    height: 100%;
  }
  .campaign .campaign_left {
    height: 100%;
    width: 100%;
  }
  .campaign .campaign_con .campaign_right{
    width: 100%;
  }
}

/* comunity section */


.community {
    width: 100%;
    padding: 5rem 8rem;
    background-image: url(./assets/kiss_pattern_a.png);
   background-size: cover;
  
  }
  
  .community .community_con {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    background-color: #08a9a0;
    box-shadow: rgb(51, 51, 51) 0px 0px 15px 0px;
  }
  
  .community .community_con .community_left {
    width: 50%;
  
    text-align: center;
    padding: 3rem;
    line-height: 1.5;
    color: #feebd0;
  }
  .community .community_left h2 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    font-weight: 900 bold;
  }
  
  .community .community_left p {
    font-size: 1rem;
    margin-bottom: 2rem;
    line-height: 1.3;
  }
  

  .community .community_right {
    height: 100%;
    width: 50%;
  }
  
  .community .community_right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  @media screen and (max-width: 1230px) {
    .community {
      padding: 5rem 5rem;
    }
    .community .campaign_left h2 {
      font-size: 2rem;
      margin-top: 1rem;
    }
  }
  
  @media screen and (max-width: 1080px) {
    .community .community_left h2 {
      font-size: 2rem;
      margin-top: 1rem;
    }
    .community {
      padding: 5rem 2rem;
    }
  }
  @media screen and (max-width: 1000px) {
   
    .community .community_con {
      flex-direction: column-reverse;
    }
    .community .community_con {
      width: 100%;
      height: 100%;
    }
    .community .community_right {
      height: 100%;
      width: 100%;
    }
    .community .community_con .community_left{
      width: 100%;
    }
  }
  



  /* Democratizing section  */

.Democratizing {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 5rem;
    background-color: #08a9a0;
  }
  .Democratizing .Democratizing_card {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .Democratizing .Democratizing_card {
    width: 30%;
    z-index: 1;
    position: relative;
  }
  .Democratizing .Democratizing_card .p_card {
    width: 380px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2rem 1rem;
    top: 10%;
    left: 20%;
    position: absolute;
    background-color: #fff;
  }
  
  .Democratizing .Democratizing_card h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #333333;
    line-height: 1.1;
  }
  
  .Democratizing .Democratizing_card p {
    font-size: 1.08rem;
    color: #333333;
    line-height: 1.3;
    margin-bottom: 1.5rem;
  }
  
  .Democratizing .Democratizing_card .btn {
    width: 80%;
    padding: 1rem;
    border-radius: 30px;
    background-color: #3f000b;
    color: #feebd0;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.4s ease;
  }
  .Democratizing .Democratizing_card button:hover {
    background-color: #9f8050;
  }
  
  .Democratizing .Democratizing_img img {
    width: 100%;
  }
  .Democratizing .Democratizing_img {
    width: 80%;
    margin-right: 5rem;
    position: relative;
  }
  
  @media only screen and (max-width: 1280px) {
    .Democratizing {
      padding: 2rem;
    }
    .Democratizing .Democratizing_card .p_card {
      width: 400px;
      padding: 1rem;
      top: 10%;
      left: 0%;
    }
    .Democratizing .Democratizing_img {
      width: 100%;
      margin-right: 2rem;
  
    }
  }
  @media only screen and (max-width: 1150px) {
    .Democratizing {
      padding: 1rem;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .Democratizing .Democratizing_card .p_card {
      width: 400px;
      padding: 1rem;
      top: 5%;
      left: 0%;
    }
    .Democratizing .Democratizing_img {
      width: 100%;
      margin: 0;
    }
    .Democratizing .Democratizing_img img{
      width: 100%;
    }
  }

  @media screen and (max-width: 940px) {
    .Democratizing {
      height: 120vh;
    }
    .Democratizing .Democratizing_card{
      width: 0;
    }
  
  
    .Democratizing .Democratizing_card .p_card {
      width: 800px;
      top: 50%;
      left: 0px;
      margin-left: 1rem;
    }
  }

  
@media screen and (max-width: 860px) {
  .Democratizing {
    height: 130vh;
  }


  .Democratizing .Democratizing_card .p_card {
    width: 750px;
    top: 50%;
  }
}

@media screen and (max-width: 800px) {

  .Democratizing .Democratizing_card .p_card {
    top: 40%;
    margin-left: 1rem;
  }
  .Democratizing {
    margin: 0;
    padding: 0;
  }

  .Democratizing {
    height: 90vh;
    background: none;
  }
}



@media screen and (max-width: 770px) {
  .Democratizing .Democratizing_card .p_card {
    width: 700px;
    top: 60%;
    left: 30px;
    margin-left: 0rem;
  }
  .Democratizing .Democratizing_card h2 {
    font-size: 1.5rem;
  }
  .Democratizing .Democratizing_card p {
    font-size: 1rem;
  }
  .Democratizing .Democratizing_card .btn {
    padding: 0.5rem;
  }
}


@media screen and (max-width: 730px) {
  .Democratizing .Democratizing_card .p_card {
    width: 600px;
    top: 60%;
    left: 50px;
  }
}

@media screen and (max-width: 652px) {
  .Democratizing .Democratizing_card .p_card {
    width: 550px;
    top: 60%;
    left: 50px;
  }
}

@media screen and (max-width: 601px) {
  .Democratizing .Democratizing_card .p_card {
    width: 500px;
    top: 45%;
    left: 50px;
  }
}

@media screen and (max-width: 550px) {

  .Democratizing .Democratizing_card .p_card {
    width: 400px;
    top: 45%;
    left: 60px;
  }
}

@media screen and (max-width: 460px) {
  .Democratizing .Democratizing_card .p_card {
    position: relative;
    top: 35%;
    left: 20px;
  }
}
/* footer section  */

footer {
  width: 100%;
  padding: 5%;
}

footer .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.top .topleft {
  width: 65%;
  display: flex;
  justify-content: space-around;
}

.top .topleft .tl {
  width: 30%;
}

.tl .logo {
  width: 100%;
}

.tl .socials a {
  text-decoration: none;
  color: #3f000b;
}

.socials a i {
  font-size: 20px;
  padding: 10px;
  margin: 5px 0;
}

.toggle {
  padding: 10px 0;
}

.toggle i {
  font-size: 20px;
}

.tl ul.tl-one {
  margin-left: 4rem;
}

.tl ul li {
  padding: 5px;
  line-height: 1.5;
}
.tl ul a {
  color: #3f000b;
  font-weight: bold;
  text-decoration: none;
}

.tl ul a:hover {
  text-decoration: underline;
}

.top .topright {
  width: 30%;
  padding: 1rem;
}

.topright .tr {
  border-left: 3px solid #3f000b;
}

.tr ul li {
  margin-left: 10px;
  font-size: 13px;
  padding: 5px;
  line-height: 1.5;
}

.tr ul a {
  color: #707070;
  font-weight: bold;
  text-decoration: none;
}

.tr ul a:hover {
  text-decoration: underline;
}

footer .bottom {
  width: 100%;
  display: flex;
  align-items: center;
}

.bottom .bottomleft {
  width: 65%;
}

.bottomleft a {
  margin: 1%;
  padding-left: 2rem;
  text-decoration: none;
  color: #707070;
  font-size: 13px;
  font-weight: bold;
}

.bottomleft a:hover {
  text-decoration: underline;
}

.bottomright {
  width: 30%;
  padding: 1rem;
}

.bottomright p {
  color: #707070;
  font-size: 13px;
  font-weight: bold;
}

.bottomright a {
  text-decoration: none;
  color: #707070;
}

.bottomright a:hover {
  text-decoration: underline;
}



@media screen and (max-width: 860px) {
 
  footer .top {
    width: 100%;
    display: flex;
    flex-direction: column;
  
  }
  .top .topright {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
  .topright .tr {
    padding: 1rem;
    border-top: 3px solid #3f000b;
    border-left: none;
  }
  .top .topleft{
    width: 100%;
    padding: 1rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tl ul.tl-one {
    margin-left: 0rem;
  }

  .top .topleft .tl{
    width: 100%;
  }
  .toggle {
    padding: 10px 0;
    margin-bottom: 2rem;
  }
  footer .bottom {
    display: none;
  }
}