* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "heading";
  src: url(./assets/gazpacho-black.otf);
}

@font-face {
  font-family: "TT-norms-bold";
  src: url(./assets/TT\ Norms\ Pro\ Bold.otf);
}

@font-face {
  font-family: "TT-norms-reg";
  src: url(./assets/TT\ Norms\ Pro\ Regular.otf);
}
html {
  font-family: "TT-norms-reg";
}
h1,
h2,
h3 {
  font-family: "heading";
}

ul {
  list-style: none;
  font-family: "TT-norms-bold";
}
a {
  display: inline-block;
}

/*----------NAVBAR----------*/
.navbar {
  display: flex;
  padding-left: 6rem;
  padding-top: 0.5rem;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 0.8rem;
  background-color: #fff;
  box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 999;
}

.hamburger {
  display: none;
  font-size: 36px;
  color: #3f000b;
  padding: 1.5rem;
}

.logo img {
  height: 70px;
  margin-bottom: -4px;
}

.nav-wrap {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.menu {
  display: flex;
  align-items: center;
}

.utility-nav {
  align-self: flex-end;
  padding-right: 4rem;
  margin-right: 5%;
}

.utility-nav ul li {
  padding: 1rem;
}
.utility-nav ul li a {
  color: #707070;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

.utility-nav ul li a:hover {
  text-decoration: underline;
}

.main-nav {
  background-color: #3f000b;
}

.main-nav ul li {
  margin: 0 0.2rem;
  position: relative;
}
.main-nav ul li a {
  color: #feebd0;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
}

.search {
  font-size: 20px;
  font-weight: 600;
}

.main-nav > ul > li > a:hover {
  background-color: #553b33;
}

.search-2 {
  font-size: 40px;
  padding: 1.5rem;
  color: #3f000b;
  display: none;
}

/* DROPDOWN-menu */
.main-nav ul li ul.dropdown {
  width: 310px;
  margin-left: -3px;
  position: absolute;
  z-index: 999;
  background-color: #3f000b;
  display: none;
}

.main-nav ul li ul.dropdown li:hover {
  background-color: #652f33;
}

.main-nav ul li:hover ul.dropdown {
  display: block;
}

/* route section  */
.route {
  height: 40px;
  display: flex;
  margin-top: 8.5rem;
  margin-left: 2rem;
}
.route a {
  color: #3f000b;
  margin: 0.3rem;
  font-family: montserrat;
  font-weight: bolder;
}
.route a:hover {
  text-decoration: none;
}
.route .allergens {
  color: #3f000b;
  font-weight: medium;
  text-decoration: none;
  font-weight: 400;
}
.route p {
  margin: 0.3rem;
  font-family: montserrat;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.4);
}

/* company hero section  */
.company_hero {
  width: 100%;
  height: 70vh;
  min-height: 490px;
  position: relative;
}

.company_hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.company_hero_con {
  width: 480px;
  background-color: #3f000b;
  border-radius: 5px;
  padding: 2rem;
  position: absolute;
  top: 25%;
  left: 4%;
}

.company_hero_con h1 {
  font-size: 3rem;
  line-height: 57.8px;
  color: #feebd0;
  font-weight: 1000;
}

.company_hero_con p {
  color: #feebd0;
  margin-top: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media screen and (max-width: 1000px) {
  .company_hero_con {
    width: 90%;
    border-radius: 5px;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 5%;
    text-align: center;
  }
}

@media screen and (max-width: 730px) {
  .company_hero_con {
    width: 90%;
    border-radius: 5px;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 5%;
  }
}

@media screen and (max-width: 550px) {
  .company_hero_con {
    width: 90%;
    border-radius: 5px;
    padding: 0.5rem;
    position: absolute;
    top: 50%;
    left: 5%;
  }
}

/* company_history section  */

.company_history {
  width: 100%;
  padding: 3rem 8rem;
  background-color: #efeaea;
  line-height: 1.3;
  background-image: url(./assets/kiss_pattern_a.png);
}

.history_text {
  display: flex;
  width: 60%;
  text-align: start;
  padding: 1rem;
  margin: 1rem;
}

.company_history ul li h2 {
  color: #3f000b;
  font-size: 2.5rem;
  font-weight: bolder;
}

.company_history ul li p {
  color: #333333;
  font-size: 1rem;
  margin: 1rem 0;
  margin-bottom: 1.5rem;
  line-height: 1.3;
}

@media screen and (max-width: 1200px) {
  .history_text {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .history_text {
    width: 100%;
  }

  .company_history {
    padding: 3rem 3rem;
  }
}

/* legacy section  */

.Legacy {
  width: 100%;
  padding: 5rem 8rem;
  background-image: url(./assets/hersheys-dark.svg);
  background-position: left bottom;
}

.Legacy .Legacy_con {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  background-color: #08a9a0;
  box-shadow: rgb(51, 51, 51) 0px 0px 15px 0px;
}

.Legacy .Legacy_con .Legacy_left {
  width: 50%;

  text-align: center;
  padding: 3rem;
  line-height: 1.5;
  color: #feebd0;
}
.Legacy .Legacy_left h2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  font-weight: 900 bold;
}

.Legacy .Legacy_left p {
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 2;
}

.Legacy .btn {
  width: 80%;
  padding: 1rem;
  border-radius: 30px;
  background-color: #3f000b;
  color: #feebd0;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.4s ease;
}
.Legacy button:hover {
  background-color: #9f8050;
  border: 1px solid #3f000b;
  color: #fff;
}

.Legacy .Legacy_right {
  height: 100%;
  width: 50%;
}

.Legacy .Legacy_right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1230px) {
  .Legacy {
    padding: 5rem 5rem;
  }
}

@media screen and (max-width: 1080px) {
  .Legacy {
    padding: 5rem 2rem;
  }
}
@media screen and (max-width: 1000px) {
  .Legacy .Legacy_con {
    flex-direction: column-reverse;
  }
  .Legacy .Legacy_con {
    width: 100%;
    height: 100%;
  }
  .Legacy .Legacy_right {
    height: 100%;
    width: 100%;
  }
  .Legacy .Legacy_con .Legacy_left {
    width: 100%;
  }
}

/* moments section  */

.Moments {
  width: 100%;
  padding: 5rem 8rem;
  background-color: #efeaea;
}

.Moments .Moments_con {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  background-color: #91268e;
  box-shadow: rgb(51, 51, 51) 0px 0px 15px 0px;
}

.Moments .Moments_con .Moments_left {
  width: 50%;

  text-align: center;
  padding: 3rem;
  line-height: 1.5;
  color: #feebd0;
}
.Moments .Moments_left h2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  font-weight: 900 bold;
}

.Moments .Moments_left p {
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 2;
}

.Moments .btn {
  width: 80%;
  padding: 1rem;
  border-radius: 30px;
  background-color: #3f000b;
  color: #feebd0;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.4s ease;
}
.Moments button:hover {
  background-color: #9f8050;
  border: 1px solid #3f000b;
  color: #fff;
}

.Moments .Moments_right {
  height: 100%;
  width: 50%;
}

.Moments .Moments_right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1230px) {
  .Moments {
    padding: 5rem 5rem;
  }
}

@media screen and (max-width: 1080px) {
  .Moments {
    padding: 5rem 2rem;
  }
}
@media screen and (max-width: 1000px) {
  .Moments .Moments_con {
    flex-direction: column-reverse;
  }
  .Moments .Moments_con {
    width: 100%;
    height: 100%;
  }
  .Moments .Moments_right {
    height: 100%;
    width: 100%;
  }
  .Moments .Moments_con .Moments_left {
    width: 100%;
  }
}

/* Workforce  section  */

.Workforce {
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 5rem;
  background-image: url(./assets/kiss_pattern_a.png);
  background-repeat: no-repeat;
  background-position: right;
  background-color: #08a9a0;
}
.Workforce .promise_title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.Workforce .Workforce_card {
  width: 30%;
  z-index: 1;
  position: relative;
}
.Workforce .Workforce_card .p_card {
  width: 380px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 4rem 1rem;
  top: 15%;
  left: 10%;
  position: absolute;
  background-color: #fff;
}

.Workforce .Workforce_card h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #333333;
}

.Workforce .Workforce_card p {
  font-size: 1.08rem;
  color: #333333;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem;
}

.Workforce .Workforce_card .btn {
  width: 90%;
  padding: 1rem;
  border-radius: 35px;
  background-color: #3f000b;
  color: #feebd0;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.4s ease;
}
.Workforce .Workforce_card button:hover {
  background-color: #9f8050;
  border: 1px solid #3f000b;
  color: #fff;
}

.Workforce .Workforce_img img {
  width: 100%;
}
.Workforce .Workforce_img {
  margin-right: 5rem;
  position: relative;
}

.play_icon {
  position: absolute;
  top: 50%;
  right: 50%;
}

.Workforce_img i {
  color: #fff;
  font-size: 3rem;
}
.Workforce_img i:hover {
  cursor: pointer;
  text-shadow: 0 0 20px #000000d5;
}

@media only screen and (max-width: 1280px) {
  .Workforce {
    padding: 2rem;
  }
  .Workforce .Workforce_card .p_card {
    width: 400px;
    padding: 1rem;
    top: 10%;
    left: 0%;
  }
  .Workforce .Workforce_img {
    width: 100%;
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 1150px) {
  .Workforce {
    padding: 1rem;
  }
}

@media only screen and (max-width: 1000px) {
  .Workforce .Workforce_card .p_card {
    width: 400px;
    padding: 1rem;
    top: 5%;
    left: 0%;
  }
  .Workforce .Workforce_img {
    width: 100%;
    margin: 0;
  }
  .Workforce .Workforce_card img {
    width: 100%;
  }
}

@media screen and (max-width: 940px) {
  .Workforce {
    height: 120vh;
  }
  .Workforce .Workforce_card {
    width: 0;
  }

  .Workforce .Workforce_card .p_card {
    width: 800px;
    top: 50%;
    left: 0px;
    margin-left: 1rem;
  }
  .play_icon {
    display: none;
  }
}

@media screen and (max-width: 860px) {
  .Workforce {
    height: 130vh;
  }

  .Workforce .Workforce_card .p_card {
    width: 750px;
    top: 50%;
  }
}

@media screen and (max-width: 800px) {
  .Workforce .Workforce_card .p_card {
    top: 60%;
    margin-left: 1rem;
  }
  .Workforce {
    margin: 0;
    padding: 0;
  }

  .Workforce {
    height: 90vh;
    background: none;
  }
}

@media screen and (max-width: 770px) {
  .Workforce .Workforce_card .p_card {
    width: 700px;
    top: 60%;
    left: 30px;
    margin-left: 0rem;
  }
  .Workforce .Workforce_card h2 {
    font-size: 1.5rem;
  }
  .Workforce .Workforce_card p {
    font-size: 1rem;
  }
  .Workforce .Workforce_card .btn {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 730px) {
  .Workforce .Workforce_card .p_card {
    width: 600px;
    top: 60%;
    left: 50px;
  }
}

@media screen and (max-width: 652px) {
  .Workforce .Workforce_card .p_card {
    width: 550px;
    top: 60%;
    left: 50px;
  }
}

@media screen and (max-width: 601px) {
  .Workforce .Workforce_card .p_card {
    width: 500px;
    top: 45%;
    left: 50px;
  }
}

@media screen and (max-width: 550px) {
  .Workforce .Workforce_card .p_card {
    width: 400px;
    top: 45%;
    left: 60px;
  }
}

@media screen and (max-width: 460px) {
  .Workforce .Workforce_card .p_card {
    position: relative;
    top: 35%;
    left: 20px;
  }
}

/* plantLocation section  */

.plantLocation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #feebd0;
  padding: 2rem 8rem;
}

.plantLocation .plantLocation_card {
  width: 50%;
  height: 400px;

  text-align: center;
  padding: 2rem 1rem;
  margin: 2rem;
  background-color: #b7d34a;
}

.plantLocation .plantLocation_card h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 2rem;
  color: #3f000b;
}

.plantLocation .plantLocation_card p {
  font-size: 1.2rem;
  padding: 0 2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: #333333;
}

.plantLocation .plantLocation_card .btn {
  width: 75%;
  padding: 1rem;
  border-radius: 250px;
  background-color: #3f000b;
  color: #feebd0;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.4s ease;
}
.plantLocation .plantLocation_card .btn:hover {
  background-color: #9f8050;
  border: 1px solid #3f000b;
  color: #fff;
}
@media only screen and (max-width: 1090px) {
  .plantLocation {
    padding: 2rem;
  }
  .plantLocation .plantLocation_card p {
    padding: 0 2rem;
    line-height: 1.5;
  }
  .plantLocation .plantLocation_card .btn {
    width: 80%;
  }
}
@media screen and (max-width: 940px) {
  .plantLocation {
    flex-wrap: wrap;
    padding: 1rem;
  }
  .plantLocation .plantLocation_card {
    width: 80%;
    height: 300px;
    padding: 1rem;
  }
}
@media screen and (max-width: 652px) {
  .plantLocation {
    padding: 0;
  }
  .plantLocation .plantLocation_card h2 {
    font-size: 1.5rem;
  }
  .plantLocation .plantLocation_card p {
    font-size: 1rem;
    padding: 0 1rem;
    line-height: 1.3;
  }
  .plantLocation .plantLocation_card .btn {
    font-size: 0.9rem;
    width: 90%;
  }
}

/* footer section  */

footer {
  width: 100%;
  padding: 5%;
}

footer .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.top .topleft {
  width: 65%;
  display: flex;
  justify-content: space-around;
}

.top .topleft .tl {
  width: 30%;
}

.tl .logo {
  width: 100%;
}

.tl .socials a {
  text-decoration: none;
  color: #3f000b;
}

.socials a i {
  font-size: 20px;
  padding: 10px;
  margin: 5px 0;
}

.toggle {
  padding: 10px 0;
}

.toggle i {
  font-size: 20px;
}

.tl ul.tl-one {
  margin-left: 4rem;
}

.tl ul li {
  padding: 5px;
  line-height: 1.5;
}
.tl ul a {
  color: #3f000b;
  font-weight: bold;
  text-decoration: none;
}

.tl ul a:hover {
  text-decoration: underline;
}

.top .topright {
  width: 30%;
  padding: 1rem;
}

.topright .tr {
  border-left: 3px solid #3f000b;
}

.tr ul li {
  margin-left: 10px;
  font-size: 13px;
  padding: 5px;
  line-height: 1.5;
}

.tr ul a {
  color: #707070;
  font-weight: bold;
  text-decoration: none;
}

.tr ul a:hover {
  text-decoration: underline;
}

footer .bottom {
  width: 100%;
  display: flex;
  align-items: center;
}

.bottom .bottomleft {
  width: 65%;
}

.bottomleft a {
  margin: 1%;
  padding-left: 2rem;
  text-decoration: none;
  color: #707070;
  font-size: 13px;
  font-weight: bold;
}

.bottomleft a:hover {
  text-decoration: underline;
}

.bottomright {
  width: 30%;
  padding: 1rem;
}

.bottomright p {
  color: #707070;
  font-size: 13px;
  font-weight: bold;
}

.bottomright a {
  text-decoration: none;
  color: #707070;
}

.bottomright a:hover {
  text-decoration: underline;
}
