*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    src:url(assets/Gazpacho\ Bold.ttf);
    font-family: "anuj";
}

html {
    font-family:"TT norms pro", sans-serif;
}

ul {
    list-style: none;
}

a {
    display:inline-block;
    text-decoration: none;
    font-weight: 600;
    color: black;
}
p{
    font-family:"TT norms pro", sans-serif;
}
body{
    background-color: rgb(255, 251, 251);
}
/*----------NAVBAR----------*/
.navbar {
    display:flex;
    padding-left:6rem;
    padding-top :.5rem;
    align-items: end;
    justify-content: space-between;
    width:100%;
    padding-bottom: .8rem;
    background-color: #fff;
    box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.2);
    position: sticky;
    top:0;
    z-index: 999;
}

.hamburger {
    display:none;
    font-size: 36px;
    color: #3f000b;
    padding:1.5rem;
}

.logo img{
    height:70px;
    margin-bottom: -4px;
}

.nav-wrap {
    display: flex;
    flex-direction: column;
    width:80%;
}

.menu {
    display: flex;
    align-items: center;
}

.utility-nav {
    align-self: flex-end;
    padding-right:4rem;
    margin-right: 10%;
}

.utility-nav ul li {
    padding: 1rem;
}
.utility-nav ul li a {
    color: #707070;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}

.utility-nav ul li a:hover {
    text-decoration: underline;
}

.main-nav {
    background-color:#3f000b;
}

.main-nav ul li {
    margin: 0 0.2rem;
    position:relative; 
}
.main-nav ul li a {
    color: #feebd0;
    text-decoration: none;
    font-family:"TT norms pro", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
}

.search{
    font-size:30px;
    font-weight: 700;
}

.main-nav>ul>li>a:hover {
    background-color: #553b33;
}

.search-2 {
    font-size: 40px;
    padding:1.5rem;
    color:#3f000b;
    display:none;
}

/* DROPDOWN-menu */
.main-nav ul li ul.dropdown {
    width:310px;
    margin-left:-3px;
    position:absolute;
    z-index:999;
    background-color:#3f000b;
    display:none;
}

.main-nav ul li ul.dropdown li:hover{
    background-color:#652f33;
}

.main-nav ul li:hover ul.dropdown {
    display:block;
}


.realtimepage{
    display: flex;
    margin:1.5%;
    gap:1%;
}

.hero{
    display: flex;
    width: 100%;
    height:55vh;
    min-height: 395px;
}

 .headding{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3f000b;
 }
 #headding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:12px;
 }
 #headding h1 {
    font-family: "anuj";
   width: 60%;
   font-size: 40px;
   font-weight: 800;
   margin:1rem;
   color: #feebd0;
 }
 #headding p{
    width: 65%;
    font-size: 20px;
    color: #feebd0;
    margin-left:2.5rem;
 }
 .leady{
    width: 50%;
    /* background-repeat: no-repeat;
    background-position: center; */
 }
 .leady img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 /* -------------goal section css--------------- */

 .goal{
    width: 70%;
    margin-top:8%;
    margin-left:15%;
 }
 .one{
    width: 100%;
    background-color: #00a8e2;
    color: white;
    font-family: anuj;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding:2%;
 }
 .two{
    width: 100%;
    background-color: #eeeeee;
    color: black;
    font-family: anuj;
    font-size: 17px;
    display: flex;
    align-items: center;
    padding:2%;
 }
 .part1{
        width: 55%;
 }
 .part2{
    font-weight: 700;
    width: 14%;
    margin:2%;
    
 }
 .part3{
    padding-left: 2%;
    width: 31%;
   
 }
 b{
    font-size: 20px;
 }
 hr{
    color:#eeeeee;
 }
 .three{
    width: 100%;
    color: black;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5%;
 }
 .four{
    width: 100%;
    color: black;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5%;
 }
 .fifth{
    width: 100%;
    color: black;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5%;
 }
 .six{
    width: 100%;
    color: black;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5%;
 }

 .percentage1{
    margin:0.1rem;
    width: 100%;
    background-color: #eeeeee;
    height: 3vh;
    text-align: center;
    font-weight: 700;
    
 }
 .percentage2{
   margin:0.1rem;
   width: 100%;
   background-color: #eeeeee;
   height: 3vh;
   text-align: center;
   font-weight: 700;
   
}
.percentage3{
   margin:0.1rem;
   width: 100%;
   background-color: #eeeeee;
   height: 3vh;
   text-align: center;
   
}
.percentage4{
   margin:0.1rem;
   width: 100%;
   background-color: #eeeeee;
   height: 3vh;
   text-align: center;
   
}
 .thirdper{
    width: 100%;
    height: 100%;
    background-color: #00a8e2;
   font-weight: 700;
 }


 .fourthper{
    width: 77%;
    height: 100%;
    background-color: #00a8e2;
   font-weight: 700;
 }
 
 .fifthper{
    width: 64%;
    height: 100%;
    background-color: #00a8e2;
   font-weight: 700;
 }
 
 .sixper{
    width: 72%;
    height: 100%;
    background-color: #00a8e2;
   font-weight: 700;
 }
 .seventh{
    padding:3%;
 }
 .seventh p{
    font-style: italic;
 }




/* ----------goal second part----------- */




.one-2{
    width: 100%;
    background-color: #eb5d14;
    color: white;
    font-family: anuj;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding:2%;
 }
 .two-2{
    width: 100%;
    background-color: #eeeeee;
    color: black;
    font-family: anuj;
    font-size: 17px;
    display: flex;
    align-items: center;
    padding:2%;
 }
 .three-2{
    width: 100%;
    color: black;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5%;
 }
 .four-2{
    width: 100%;
    color: black;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5%;
 }
 .fifth-2{
    padding:3%;
 }
 .fifth-2 p{
    font-style: italic;
 }
 .percentage1-2{
   margin:0.1rem;
   width: 100%;
   background-color: #eeeeee;
   height: 3vh;
   text-align: center;
   
}
.percentage2-2{
   margin:0.1rem;
   width: 100%;
   background-color: #eeeeee;
   height: 3vh;
   text-align: center;
   
}
.thirdper-2{
   width: 87%;
   height: 100%;
   background-color: #eb5d14;
   color: white;
   font-weight: 700;
}
.fourthper-2{
   width: 37%;
   height: 100%;
   background-color: #eb5d14;
   color: white;
   font-weight: 700;
}





/* ------------goal part three-------------- */



.one-3{
   width: 100%;
   background-color: #94c240;
   color: white;
   font-family: anuj;
   font-size: 20px;
   display: flex;
   align-items: center;
   padding:2%;
}
.two-3{
   width: 100%;
   background-color: #eeeeee;
   color: black;
   font-family: anuj;
   font-size: 17px;
   display: flex;
   align-items: center;
   padding:2%;
}
.three-3{
   width: 100%;
   color: black;
   font-size: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:5%;
}
.four-3{
   width: 100%;
   color: black;
   font-size: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:5%;
}
.fifth-3{
   width: 100%;
   color: black;
   font-size: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:5%;
}
.six-3{
   width: 100%;
   color: black;
   font-size: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:5%;
} 
.seventh-3{
   padding:3%;
}
.seventh-3 p{
   font-style: italic;
}
.percentage1-3{
   margin:0.1rem;
   width: 100%;
   background-color: #eeeeee;
   height: 3vh;
   text-align: center;
   font-weight: 700;
   
}
.percentage2-3{
  margin:0.1rem;
  width: 100%;
  background-color: #eeeeee;
  height: 3vh;
  text-align: center;
  font-weight: 700;
  
}
.percentage3-3{
  margin:0.1rem;
  width: 100%;
  background-color: #eeeeee;
  height: 3vh;
  text-align: center;
  
}
.percentage4-3{
  margin:0.1rem;
  width: 100%;
  background-color: #eeeeee;
  height: 3vh;
  text-align: center;
  
}
.thirdper-3{
   width: 41%;
   height: 100%;
   background-color: #94c240;
   font-weight: 700;
}


.fourthper-3{
   width: 12%;
   height: 100%;
   background-color: #94c240;
   font-size: medium;
   font-weight: 700;
}

.fifthper-3{
   width: 17%;
   height: 100%;
   background-color: #94c240;
   font-weight: 700;
}

.sixper-3{
   width: 50%;
   height: 100%;
   background-color: #94c240;
   font-weight: 700;
}




/* ---------goal section part four--------- */



.one-4{
   width: 100%;
   background-color: #814594;
   color: white;
   font-family: anuj;
   font-size: 20px;
   display: flex;
   align-items: center;
   padding:2%;
}
.two-4{
   width: 100%;
   background-color: #eeeeee;
   color: black;
   font-family: anuj;
   font-size: 17px;
   display: flex;
   align-items: center;
   padding:2%;
}
.three-4{
   width: 100%;
   color: black;
   font-size: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:5%;
}
.four-4{
   width: 100%;
   color: black;
   font-size: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:5%;
}
.fifth-4{
   width: 100%;
   color: black;
   font-size: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:5%;
}
.six-4{
   width: 100%;
   color: black;
   font-size: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:5%;
} 
.seventh-4{
   padding:3%;
}
.seventh-4 p{
   font-style: italic;
}
.percentage2-4{
  margin:0.1rem;
  width: 100%;
  background-color: #eeeeee;
  height: 3vh;
  text-align: center;
  font-weight: 500;
  
}
.percentage3-4{
  margin:0.1rem;
  width: 100%;
  background-color: #eeeeee;
  height: 3vh;
  text-align: center;
  
}
.percentage4-4{
  margin:0.1rem;
  width: 100%;
  background-color: #eeeeee;
  height: 3vh;
  text-align: center;
  
}

.fourthper-4{
   color: white;
   width: 47.8%;
   height: 100%;
   background-color: #814594;
   font-size: medium;
   font-weight: 500;
}

.fifthper-4{
   color: white;
   width: 27.5%;
   height: 100%;
   background-color: #814594;
   font-weight: 500;
}

.sixper-4{
   color: white;
   width: 22%;
   height: 100%;
   background-color: #814594;
   font-weight: 500;
}




/* -------goal section fifth part-------- */





.one-5{
   width: 100%;
   background-color: #00aea4;
   color: white;
   font-family: anuj;
   font-size: 20px;
   display: flex;
   align-items: center;
   padding:2%;
}
.two-5{
   width: 100%;
   background-color: #eeeeee;
   color: black;
   font-family: anuj;
   font-size: 17px;
   display: flex;
   align-items: center;
   padding:2%;
}
.three-5{
   width: 100%;
   color: black;
   font-size: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:5%;
}
.four-5{
   width: 100%;
   color: black;
   font-size: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:5%;
}
.fifth-5{
   padding:3%;
}
.fifth-5 p{
   font-style: italic;
}
.percentage1-5{
  margin:0.1rem;
  width: 100%;
  background-color: #eeeeee;
  height: 3vh;
  text-align: center;
  
}
.percentage2-5{
  margin:0.1rem;
  width: 100%;
  background-color: #eeeeee;
  height: 3vh;
  text-align: center;
  
}
.thirdper-5{
  width: 100%;
  height: 100%;
  background-color: #00aea4;
  color: white;
  font-weight: 700;
}
.fourthper-5{
  width: 100%;
  height: 100%;
  background-color: #00aea4;
  color: white;
  font-weight: 700;
}


/* ----------goal six part ----------- */

.one-6{
   width: 100%;
   background-color: #e52328;
   color: white;
   font-family: anuj;
   font-size: 20px;
   display: flex;
   align-items: center;
   padding:2%;
}
.two-6{
   width: 100%;
   background-color: #eeeeee;
   color: black;
   font-family: anuj;
   font-size: 17px;
   display: flex;
   align-items: center;
   padding:2%;
}
.three-6{
   width: 100%;
   color: black;
   font-size: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:5%;
}
.four-6{
   padding:3%;
}
.four-6 p{
   font-style: italic;
}

.percentage1-6{
  margin:0.1rem;
  width: 100%;
  background-color: #eeeeee;
  height: 3vh;
  text-align: center;
  
}
.percentage2-6{
  margin:0.1rem;
  width: 100%;
  background-color: #eeeeee;
  height: 3vh;
  text-align: center;
  
}
.thirdper-6{
  width: 100%;
  height: 100%;
  background-color: #e52328;
  color: white;
  font-weight: 700;
}
.fourthper-6{
  width: 100%;
  height: 100%;
  background-color: #e52328;
  color: white;
  font-weight: 700;
}

/* ----------footer section--------- */


footer {
   width:100%;
   padding:5%;
}

footer .top {
   width:100%;
   display:flex;
   align-items:center;
   justify-content: space-around;
}

.top .topleft {
   width:65%;
   display:flex;
   justify-content: space-around;
}

.top .topleft .tl {
   width:30%;
}

.tl .logo {
   width:100%;
}

.tl .socials a {
   text-decoration: none;
   color:#3f000b;
}

.socials a i {
   font-size: 20px;
   padding:10px;
   margin:5px 0;
}

.toggle {
   padding:10px 0;
}
.toggle p{
   color:#707070;
}
.toggle i {
   font-size:20px;
   color:#3f000b ;
}

.tl ul.tl-one {
   margin-left:4rem;
}

.tl ul li {
   padding:5px;
   line-height: 1.5;
}
.tl ul a {
   color:#3f000b;
   font-weight: bold;
   text-decoration: none;
}

.tl ul a:hover {
   text-decoration: underline;
}

.top .topright {
   width:30%;
   padding:1rem;
}

.topright .tr {
   border-left:3px solid #3f000b;
}

.tr ul li {
   margin-left:10px;
   font-size: 13px;
   padding:5px;
   line-height: 1.5;
}

.tr ul a {
   color: #707070;
   font-weight: bold;
   text-decoration: none;
}

.tr ul a:hover {
   text-decoration: underline;
}

footer .bottom {
   width:100%;
   display:flex;
   align-items:center;
}

.bottom .bottomleft {
   width:65%;
}

.bottomleft a {
   margin:1%;
   padding-left: 2rem;
   text-decoration: none;
   color:#707070;
   font-size: 13px;
   font-weight: bold;
}

.bottomleft a:hover {
   text-decoration: underline;
}

.bottomright {
   width:30%;
   padding:1rem;
}

.bottomright p {
   color:#707070;
   font-size: 13px;
   font-weight: bold;
}

.bottomright a {
   text-decoration: none;
   color:#707070;
}

.bottomright a:hover {
   text-decoration: underline;
}

button:hover{
   /* background-color:#6a2c36; */
   box-shadow: none;
}
.images img:hover{
   transform: scale(1.2);
}
